.main-section{
   
}
.heading{
    display: flex;
    flex-direction: column;
}
.icon{
    position: absolute;
    right: 0;
    top: 112px;
    padding: 10px;
    cursor: pointer;
}
.action-icon{
    padding: 13px;
}
img{
    height:20px;
    cursor: pointer;
}
textarea{
    width: 100%;
    min-height: 300px;
    background: #f9f9f9;
    padding: 10px 0px 0px;
    border: none;
    margin: 0px;
}
.header{
    height:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        padding:6px;
    }
}
.content{
    background: #eee;
    box-shadow: #999 1px 1px 3px;
    margin: 15px 5px 0px 5px;
}