
<div class="site-wrapper">
    <div class=" col-s-12 col-8">
        <header>
            <div class="site-nav-main">
                <nav class="site-nav-menu font-size-3 font-weight-3">
                    Tech Blog
                </nav>
            </div>
        </header>
        <main class="site-main-section">
            <div class="tab">
                <button class="tablinks font-size-2 font-weight-2" [routerLink]="['./article']" routerLinkActive="router-link-active" >Articles</button>
                <button class="tablinks font-size-2 font-weight-2" [routerLink]="['./about']" routerLinkActive="router-link-active" >About</button>
            </div>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
