<article>
    <div class="blog-wrapper">
        <section class="logo">
            <img [src]="this.blogData?.imageUrls[index]" alt="">
        </section>
        <header class="heading">
            <h1>{{this.blogData?.heading}}</h1>
            <h5>{{this.blogData?.date}}</h5>
        </header>
        <section>
            <ng-template #name></ng-template>
            
           <ng-container>
                <div [innerHTML]="this.blogData?.content">

                </div>
            </ng-container>
        </section>
    </div>
</article>
