.blog-wrapper{
    height: 100vh;
    padding: 0 5vw;
}
img{
    width: auto;
    height: 15vh;
}
.heading, .logo{
    text-align: center;
}
.blog-content{
    padding: 2px;
}
.back{
    position:absolute;
    img{
        width:100%;
        border: 1px solid grey;
        height: auto;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background: #e4e487;
        }
    }
}
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 425px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     /* For tablets: */
     .blog-wrapper{
        margin:20px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        /* For desktop: */
        .blog-wrapper{
            margin:20px
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .blog-wrapper{
        margin:20px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .blog-wrapper{
        margin:20px
    }
}