    <article class="site-article-list" *ngFor="let article of $articles | async;let i=index; trackBy:trackById" [id]="article?.id">
        <div class="site-tech-logo">
            <img class="logo" [src]="article?.imageUrl" [alt]="article?.alt">
        </div>
        <div class="snippet"> 
            <header>
                <h1 class="font-size-2">{{article?.heading}}</h1>
                <section>
                    <h5>{{article?.date}}</h5>
                </section>
            </header>
            <section class="content">
                <p class="font-size-2">{{article?.content}}</p>
                 <a class="font-size-1" href="javascript:void(0)" (click)="onArticleClick(article?.id)" >Continue reading</a>
            </section>
        </div>
        <app-clap-component [blogId]="article?.id"></app-clap-component>
    </article>
    <section>
        <ng-template #name></ng-template>
    </section>



