<article>
    <section>
            <div class="img-wrapper"><div id="profile-img"><img class="profile" src="../../../../../assets/images/Profile.jpg" alt="Profile Image" loading="eager"></div></div>
            <div>
                <h1>Hi, I am Mayank.</h1>
                <h2>I am a Software Engineer</h2>
            </div>
    </section>
    <section class="introduction">
        <p>
            I have been working as a Software Enginner for 3 Years.I have experience in Javascript,Typescript,Angular,Ngrx,HTML5,CSS3.
            I love music and spending time with my family.
        </p>
    </section>
    <p> Follow me at:</p>
    <section class="logo-section">
        <img class="logo" src="../../../../../assets/logo/linkedin-logo-copy.svg" alt="Linked In Logo">&nbsp;&nbsp;
        <img class="logo" src="../../../../../assets/logo/Black-Github-Logo-PNG-Photo.svg" alt="Github Logo">&nbsp;&nbsp;
        <img class="logo" src="../../../../../assets/logo/png-clipart-logo-computer-icons-instagram-logo-miscellaneous-smile.svg" alt="Instagram Logo">
    </section>
</article>
